.gumroad-button {
  display: block;
  width: fit-content;
  padding: 1.5em 6em;
  border: 0.1em solid #89c6ff;
  margin: auto;
  margin-top: 3%;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: #89c6ff;
  transition: all 0.15s;
}

.bouncy {
  animation: bouncy 5s infinite linear;
  position: relative;
}

@keyframes bouncy {
  0% {
    top: 0em
  }

  40% {
    top: 0em
  }

  43% {
    top: -0.9em
  }

  46% {
    top: 0em
  }

  48% {
    top: -0.4em
  }

  50% {
    top: 0em
  }

  100% {
    top: 0em;
  }
}
